@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-thin text-[#232428];
  }
}

@layer components {
  .tabEff {
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, gray, grey) left bottom no-repeat;
    background-size: 100% 2px;
  }
  .tabPanel {
    @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 xl:grid-cols-4;
  }
}
